  <%- include('blocks/header_dashboard.ejs'); -%>
    
  <div class= "col-8">
    
    </div>
    <div class="col-2">
        <strong>users</strong>
        <ul class="nav flex-column" id="online_users">
          <% for (user of userlist){ %>
           <li class="nav-item">
             <form action="/dashboard" method="POST">
              <input type="hidden" name="name" value="<%=user.name%>">
              <input type="hidden" name="id" value="<%=user.id%>">
             <button type="submit" class="nav-link"><%=user.name%></button>
            </form>
          </li> 
           <% } %>
        </ul>
      
    </div>

  
  
  


     
  
  <%- include('blocks/footer.ejs'); -%>