<%- include('blocks/header_dashboard.ejs'); -%>
<div class= "col-8">
<strong> #<%= channelname %></strong>
<div id="messages">
    <% for (message of messages) { %>
        <div title="<%=message._id%>">
        <strong><%= message.message_sender%></strong>
        <p><%= message.message%></p>
    </div>
   <% } %>
</div>
</div>
<div class="col-2">
    <strong>users</strong>
    <ul id="online_users">
        <% for (user of userlist){ %>
            <li><%=user%></li>
            <% } %>
    </ul>
</div>

<%- include('blocks/footer_rooms.ejs'); -%>